# SMTP Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app-do-google
# Lista de e-mails separados por vírgula
EMAIL_TO=destinatario1@exemplo.com, destinatario2@exemplo.com
EMAIL_CC=copia1@exemplo.com, copia2@exemplo.com
